# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/learn-react/node_modules
/learn-react/.pnp
/learn-react/.pnp.js

# testing
/learn-react/coverage

# production
/learn-react/build

# misc
/learn-react/.DS_Store
/learn-react/.env.local
/learn-react/.env.development.local
/learn-react/.env.test.local
/learn-react/.env.production.local

/learn-react/npm-debug.log*
/learn-react/yarn-debug.log*
/learn-react/yarn-error.log*
